.dm-bottom-bar {
    background-color: var(--dm-bottombar-background);
    display: flex;
    gap: 1px;
    margin: -10px;
    margin-top: 20px !important;
}

#dm-messages {
    height: calc(100% - 55px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-author>label:last-child {
    margin-left: 5px;
}