.side-menu-left button {
	background-color: var(--lside-button-background);
	color: var(--text-color);
	text-align: left;
	height: 33px;
	width: 356px;
	padding-left: 25px;
	border-radius: 0;
}

.side-menu-left button:hover {
	background-color: var(--lside-button-hover-background);
}

.side-menu-left button.active:hover {
	background-color: var(--button-hover-background);
}

.side-menu-left button.active {
	background-color: var(--button-background);
}

.side-menu-left button>label {
	transition: color 0.25s cubic-bezier(1, -0.44, 0.99, 1.13);
	position: absolute;
	color: var(--placeholder-color);
	border: none;
	left: 1px;
	top: 7px;
}

.side-menu-left button.active>label {
	color: var(--active-color);
}