.checkbox-container {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 5px;
}

.checkbox-input {
	display: none;
}

.checkbox-custom {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 4.5px;
	background-color: var(--checkbox-custom-background);
	border: 1px solid var(--checkbox-custom-border);
	position: relative;
	margin-right: 5px;
	/* Adds an animation to the checkbox */
	transition: background-color 0.2s, border-color 0.2s;
}
/* Hover and focus styles */
.checkbox-custom:hover, .checkbox-custom:focus {
	background-color: var(--placeholder-color);
	border-color: var(--active-color);
}

.checkbox-input:checked+.checkbox-custom::after {
	content: '';
	position: absolute;
	left: 8px;
	top: 10px;
	width: 14px;
	height: 6px;
	background-color: transparent;
	border: solid var(--checkbox-checked);
	border-width: 0 0 4px 4px;
	transform: rotate(-60deg);
}