.dropdown-container {
    display: block;
    margin: inherit;
    margin-bottom: 10px;
}

.dropdown-container label {
    display: block;
    margin-bottom: 5px;
}

.dropdown {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--checkbox-custom-background);
    color: var(--text-color);
    border: 1px solid var(--checkbox-custom-background);
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.dropdown:hover, .dropdown:focus {
    background-color: var(--placeholder-color);
    border-color: var(--active-color);
}

.dropdown option {
    background-color: var(--checkbox-custom-background);
    color: var(--text-color);
}

.dropdown option:hover {
    background-color: var(--active-color);
}