.message-actions {
    display: none;
    float: inline-end;
}

.message-actions.animated {
    animation: slide-in-right 0.3s ease forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.message-action-button {
    width: 30px;
    height: 30px;
    background-color: var(--vector-background);
    border: 1px solid var(--vector-border);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.message-action-button:first-child {
    border-bottom-left-radius: 5px;
}

.message-action-button:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
}

.tooltip {
    position: absolute;
    top: -25px;
    background-color: var(--vector-background);
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    font-family: Inria Sans;
    transform: translateY(-10px);
    border: 1px solid var(--vector-border);
}

.animated {
    transition: opacity 0.3s ease, transform 0.3s ease;
}