.friend-container {
    display: flex;
    align-items: center;
}

.friend-container:hover {
    background-color: var(--lside-button-background)
}

.friend-container>label {
    color: var(--active-color);
}

.friend-container[state="active"]>label {
    color: var(--text-color);
}

#friend-list {
    overflow-y: scroll;
    height: calc(100vh - 35px * 2.25)
}