@import url("https://fonts.googleapis.com/css?family=Inria+Sans:400");

html, body {
    background-color: rgb(17, 15, 26);
    display: inline-flex;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}
button {
    transition: background-color 0.15s linear;
    background-color: #1d1d2f;
    color: #9EA4D6;
    font-family: Inria Sans;
    font-weight: Regular;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    transition: background-color 0.15s linear;
    background-color: #2828419c;
}
button.medium-size {
    width: 8%;
}
input, textarea {
    background-color: #11111a;
    color: #9EA4D6;
    font-family: Inria Sans;
    font-weight: Regular;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}
input::placeholder, textarea::placeholder {
    color: #40446a;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    background-color: #11111a !important;
}
hr {
    background-color: #40446a;
    border-radius: 1px;
    height: 2px;
    margin: 0 2 0 2;
    border: none;
}
.centered > hr {
    margin: 5 10 5 10;
}
.guildlist-cont {
    background-color: #171724;
    text-align: center;
    width: 64px;
    height: 100%;
    text-align: center;
}
.guildlist-logo {
    background-color: transparent;
    transition: filter 0.5s;
    object-fit: cover;
    height: 62px;
    width: 62px;
}
.guildlist-logo:hover {
    filter: brightness(1.5);
}
.side-server-menu, .side-user-menu, .side-main-menu {
    background-color: #13121f;
}
#menu-mid {
    background-color: #191929;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}
.lside-button {
    background-color: #1D1D3080;
    position: relative;
    height: 33px;
    width: 356px;
}
.lside-button:hover {
    background-color: #26263b;
}
.lside-button[state="active"]:hover {
    background-color: #2828419c;
}
.lside-button[state="active"] {
    background-color: #1d1d2f;
}
.lside-button > label {
    transition: color 0.25s cubic-bezier(1, -0.44, 0.99, 1.13);
    position: absolute;
    color: #40446A;
    border: none;
    left: 26px;
    top: 7px;
}
.lside-button[state="active"] > label {
    color: #8B91C3;
}
.menu-separator {
    font-family: "Inria Sans", Helvetica;
    text-align: center;
    color: #8B91C3;
}
.friend-container {
    display: flex;
    align-items: center;
}
.friend-container:hover {
    background-color: #1D1D3080
}
.friend-container > img {
    margin: 2 0 2 8;
    border-radius: 5px;
}
.friend-container[state="active"] {
    background-color: #1d1d3080;
}
.friend-status {
    border-radius: 8px;
    margin: 0 3 0 3;
    height: 16px;
    width: 16px;
}
.friend-status[state="online"] {
    background-color: #66c02f;
}
.friend-status[state="dnd"] {
    background-color: #c02f2f;
}
.friend-status[state="offline"] {
    background-color: #333333;
}
.friend-container > label {
    color: #8B91C3;
}
.friend-container[state="active"] > label {
    color: #9EA4D6;
}
.centered {
    text-align: center;
}
#side-user-menu > div > div > img {
    padding: 50;
}
label {
    font-family: "Inria Sans", Helvetica;
    color: #8B91C3;
}
#menu-mid > * {
    margin: 20 0 0 0;
}
.mid-tablist {
    margin: 10 0 10 0;
}
.mid-tabbutton:not([state="active"]) {
    transition: color 0.4s cubic-bezier(1, -0.44, 0.99, 1.13);
    color: #40446A;
}
.mid-tabbutton[state="active"] {
    transition: color 0.3s cubic-bezier(1, -0.44, 0.99, 1.13);
    background-color: #252546;
}
.mid-tabbutton:hover {
    background-color: #26263b;
}
.mid-tabbutton[state="active"]:hover {
    background-color: #2828419c;
}
div[class^="midsubtab-"] > label {
    margin-left: 10px;
}
#friend-list {
    /* margin-top: 3px; */
    overflow-y: scroll;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #8B91C3;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #9EA4D6;
}
.container-actions {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1%;
}
.container-actions > button:first-child {
    margin-right: 5px;
}
.container-actions > button {
    width: 32px;
    height: 32px;
}
#dm-messages {
    height: calc(100% - (50px * 1.5));
    overflow-x: hidden;
    overflow-y: scroll;
}
.dm-bottombar {
    background-color: #131320;
    margin-top: 10px;
    display: flex;
    bottom: 0;
    gap: 1px;
}
.action {
    background-color: #1D1D2F;
    border: solid 1px #131320;
    width: 45px;
    height: 45px;
    transition: 0.4s;
}
.action:hover {
    filter: brightness(1.5);
    transition: 0.4s;
}
.message-content {
    width: -webkit-fill-available;
    height: 45px;
}
.message-container {
    padding: 2 0 2 0;
    clear: both; /* Clear floats */
}
.message-container:hover {
    background-color: #1D1D30;
}
.message-container > img {
    margin-left: 20px;
    float: left;
}
.message-author > label:first-child, .message-group > * {
    margin-left: 5px;
}
.message-author > label:nth-child(2) {
    color: #40446A;
}
#side-server-menu > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
body, html, input, textarea, button, label {
    cursor: url('data:image/svg+xml;utf8,<svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.5 12.5L16 16L12.5 24L3 3L23.5 12.5Z" stroke="%2351567C" stroke-width="2"/></svg>'), auto;
}
.message-author > label:last-child {
    margin-left: 5px;
}