.side-menu-left button {
	background-color: var(--left-menu-background);
	color: var(--left-menu-color);
	text-align: left;
	height: 2rem;
	width: 350px;
	padding-left: 1rem;
	border-radius: 0;
}

.side-menu-left button.animated {
	transition: background-color 0.25s cubic-bezier(1, -0.44, 0.99, 1.13), color 0.25s cubic-bezier(1, -0.44, 0.99, 1.13);
}

.side-menu-left button:hover {
	background-color: var(--left-menu-hover-background);
}

.side-menu-left button[state="active"]:hover {
	background-color: var(--left-menu-hover-background);
}

.side-menu-left button[state="active"] {
	background-color: var(--left-menu-active-background);
	color: var(--left-menu-active-color);
}

.side-menu-left button>label {
	transition: color 0.25s cubic-bezier(1, -0.44, 0.99, 1.13);
	position: absolute;
	border: none;
	left: 1px;
	top: 7px;
}