.guild-list {
	background-color: var(--guildlist-background);
	text-align: center;
	width: 64px;
	height: -webkit-fill-available;
	text-align: center;
	padding: 5px 5px 0 5px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.guildlist-logo {
	background-color: transparent;
	transition: filter 0.5s;
	object-fit: cover;
	height: 62px;
	width: 62px;
}

.guildlist-logo:hover {
	filter: brightness(1.5);
}

#add-server {
	width: 58px;
	height: 58px;
	margin-top: auto;
	margin-bottom: 5px;
	padding: 0;
	border: none;
	align-self: center;
}